#commentsArea {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2em;
    display: inline-block;
    width: 60%;
}

#commentsList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#statisticsContainer {
    width: 20%;
    display: inline-block;
    margin-top: 5em;
}

#mainContent {

}

.commentContainer {
    margin-top: 1em;
}

#newCommentText {
    height: 5em;
    border: 0.1em solid black;
    resize: none;
    margin-bottom: 1em;
}

#newCommentContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.commentInfoHeader > * {
    margin-right: 1em;
    color: grey;
}

.commentInfoHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}
