#formAlignmentContainer {
    padding: 10%;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userBox {
    width: 40%;
    border: 0.1em solid black;
    border-left: 0.5em solid black;
}

#followInformation {
    margin-bottom: 1em;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    font-weight: 600;
    grid-column-start: 1;
    margin-bottom: 1em;
}

dd {
    margin-left: 1em;
    grid-column-start: 2;
}
