
#footer {
    display: flex;
    border-bottom: 0.1em solid white;
    border-bottom: none;
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    height: 4vh;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
}