* {
    margin: 0;
}

.regularButton {
    border-width: 0.1em;
    border-color: black;
    color: white !important;
    background-color: black;
    padding: 1em;
    transition: all 0.5s ease-in-out;
    font-weight: 600;
    border-style: solid;
    box-sizing: border-box;
}

.regularButton:hover {
    background-color: white;
    color: black !important;
    border-color: black;
    transition: all 0.5s ease-in-out;
}

.secondaryButton {
    background-color: rgb(105, 105, 105);
}

.primaryButton {
    background-color: rgb(255, 221, 111);
    color: black !important;
}

h1 {
    font-size: 2em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
}

table {
    font-size: 1em;
}

input {
    border: 0.05em solid black;
    transition: all 0.2s ease-in-out;
    outline: 0;
    padding-left: 1em;
    box-sizing: border-box;
}

input:focus {
    border-width: 0.4em;
    transition: all 0.2s ease-in-out;
}

#header {
    display: flex;
    border-bottom: 0.1em solid white;
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    height: 4em;
    align-items: center;
    justify-content: space-between;
    
}

#header > #search {
    flex-grow: 1;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}
#header > #search > form {
    margin: 0;
}
#header > #search > form > #searchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header > #search > form > #searchForm > #labelCheckboxContacts {
    font-size: 0.6em;
}
#header > #search > form > #searchForm > #searchText {
    width: 0;
    flex-grow: 1;
    height: 3em;
    background-color: black;
    color: white;
    border-color: white;
    background-image: url("./search_icon.png");
    background-position: 0.5em 0.5em; 
    background-size: 2em;
    background-repeat: no-repeat;
    padding-left: 3em;
}
#header > #search > form > #searchForm > #searchText:focus {
    background-position: 0.5em 0.2em; 
    background-size: 1.7em;
}

#header > #logo {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 1em;
}
#header > #logo > img {
    height: 60%;
}
#header > #linksLogin {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.generalContainer {
    border: 0.1em solid black;
    border-left: 0.5em solid black;
}

.formHeader {
    background-color: black;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

.containerContent {
    padding: 2em;
    background-color: white;
}